@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@theme {
  --breakpoint-xs: 22rem;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 208px;
}

@media screen and (max-width: 312px) {
  body {
    margin-bottom: 331px;
  }
}
