@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@theme {
  --breakpoint-xs: 22rem;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 208px;
}

@media screen and (max-width: 312px) {
  body {
    margin-bottom: 331px;
  }
}


body {
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: rgba(99, 52, 227, 0.1) !important;
    color: #6334E3 !important;
  }
  
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
    background: rgba(99, 52, 227, 0.05) !important;
  }
}
