<p-password
    class="w-full"
    styleClass="w-full"
    inputStyleClass="w-full"
    [ngModel]="password()"
    (ngModelChange)="password.set($event); passwordValue.emit($event); resetErrorMessageOnChange && (isPasswordWrong = false);"
    [ngModelOptions]="{standalone: true}"
    autocomplete="off"
    [placeholder]="placeholder"
    [toggleMask]="true"
    [feedback]="false"
>
</p-password>
@if (isPasswordWrong && formSubmitted()) {
    <p-message class="w-full" severity="error" variant="simple" size="small">{{ errorMessage }}</p-message>
}