<p-floatLabel variant="on" class="w-full">
    <p-password
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
        [ngModel]="password()"
        (ngModelChange)="password.set($event); passwordValue.emit($event); resetErrorMessageOnChange && (isPasswordWrong = false);"
        [ngModelOptions]="{standalone: true}"
        autocomplete="off"
        [toggleMask]="true"
        [feedback]="false"
        id="float_label"
        autocomplete="off"
    >
    </p-password>

    <label for="float_label">{{ placeholder }}</label>
<p-floatLabel/>

@if (isPasswordWrong && formSubmitted()) {
    <p-message class="w-full" severity="error" variant="simple" size="small">{{ errorMessage }}</p-message>
}