<div class="card md:w-150 sm:w-100 w-70 p-10 my-10 mx-auto rounded-md border-solid border-gray-200 border-2">
    <p-toast />
    <form novalidate action="" method="post" class="mx-auto flex flex-col items-center gap-4 w-full max-w-md">
        <app-form-text-input 
            class="w-full" 
            placeholder="Email"
            [formSubmitted]="formSubmitted"
            [textPattern]="emailPattern"
            errorMessage="Correo electrónico inválido"
            (textValue)="email = $event"
            (isInputInvalid)="isEmailInvalid = $event"
        />
        <app-form-text-input 
            class="w-full" 
            placeholder="Teléfono"
            [formSubmitted]="formSubmitted"
            [textPattern]="phonePattern"
            errorMessage="Teléfono inválido"
            (textValue)="phone = $event"
            (isInputInvalid)="isPhoneInvalid = $event"
        />
        <app-interactive-password-input
            class="w-full" 
            placeholder="Contraseña"
            [formSubmitted]="formSubmitted"
            errorMessage="La contraseña debe tener al menos 6 caracteres"
            (passwordValue)="password.set($event);"
            (isPasswordInvalid)="isPasswordInvalid = $event"
        />
        <app-form-password-input
            class="w-full" 
            placeholder="Confirmar contraseña"
            [formSubmitted]="formSubmitted"
            errorMessage="Las contraseñas deben coincidir"
            (passwordValue)="confirmPassword.set($event);"
            [isPasswordWrong]="arePasswordsDifferent()"
        />
        <app-form-select-input
            class="w-full"
            [options]="[
            { label: 'Usuario normal', value: 'registrado' },
            { label: 'Usuario Rematador', value: 'rematador' },
            { label: 'Usuario Casa de Remates', value: 'casa' }
            ]"
            placeholder="Selecciona qué tipo de usuario eres"
            errorMessage="No seleccionaste una opción"
            (isInputInvalid)="isOptionInvalid = $event"
            (textValue)="selectedOption = $event"
            [formSubmitted]="formSubmitted"
        />

        @if(selectedOption === 'rematador') {
            <app-form-text-input 
                class="w-full" 
                placeholder="Nombre"
                [formSubmitted]="formSubmitted"
                [textPattern]="namePattern"
                errorMessage="Nombre inválido"
                (textValue)="name = $event"
                (isInputInvalid)="isNameInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="Apellido"
                [formSubmitted]="formSubmitted"
                [textPattern]="namePattern"
                errorMessage="Apellido inválido"
                (textValue)="lastname = $event"
                (isInputInvalid)="isLastnameInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="Número de matrícula"
                [formSubmitted]="formSubmitted"
                [textPattern]="registrationNumberPattern"
                errorMessage="Matrícula inválida"
                (textValue)="registrationNumber = $event"
                (isInputInvalid)="isRegistrationNumberInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="Dirección fiscal"
                [formSubmitted]="formSubmitted"
                [textPattern]="fiscalAddressPattern"
                errorMessage="Dirección fiscal inválida"
                (textValue)="fiscalAddress = $event"
                (isInputInvalid)="isFiscalAddressInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="URL de tu imagen"
                [formSubmitted]="formSubmitted"
                [textPattern]="imagePattern"
                errorMessage="Imagen inválida"
                (textValue)="image = $event"
                (isInputInvalid)="isImageInvalid = $event"
            />
        }

        @if(selectedOption === 'casa') {
            <app-form-text-input 
                class="w-full" 
                placeholder="Dirección fiscal"
                [formSubmitted]="formSubmitted"
                [textPattern]="fiscalAddressPattern"
                errorMessage="Dirección fiscal inválida"
                (textValue)="fiscalAddressHouse = $event"
                (isInputInvalid)="isFiscalAddressHouseInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="Identificación fiscal"
                [formSubmitted]="formSubmitted"
                [textPattern]="taxIdentificationNumberPattern"
                errorMessage="Identificación fiscal inválida"
                (textValue)="taxIdentificationNumber = $event"
                (isInputInvalid)="isTaxIdentificationNumberInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="Nombre legal"
                [formSubmitted]="formSubmitted"
                [textPattern]="namePattern"
                errorMessage="Nombre legal inválido"
                (textValue)="legalName = $event"
                (isInputInvalid)="isLegalNameInvalid = $event"
            />

            <app-form-text-input 
                class="w-full" 
                placeholder="Domicilio legal"
                [formSubmitted]="formSubmitted"
                [textPattern]="addressPattern"
                errorMessage="Dirección legal inválida"
                (textValue)="legalAddress = $event"
                (isInputInvalid)="isLegalAddressInvalid = $event"
            />
        }

        <app-primary-button
            class="w-full"
            styleClass="w-full"
            [classes]="'w-full'"
            [label]="'Registrarse'"
            (onClick)="register()"
        />
    </form>
</div>
