<p-dataview
    #dv
    [value]="products"
    [layout]="layout"
    [rows]="rows"
    [paginator]="products && products.length > 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    (onPage)="onPageChange($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    emptyMessage=" "
>
    <ng-template #header>
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <app-search-bar (textValue)="searchTextChange.emit($event)" />
            <p-dropdown
                [options]="sortOptions"
                placeholder="Ordenar por precio"
                (onChange)="onSortChange($event)"
            />
            <div class="flex justify-end sm:col-span-2 md:col-span-1">
                <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-item>
                        <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                    </ng-template>
                </p-selectbutton>
            </div>
        </div>
    </ng-template>
    <ng-template #list let-items>
        <div *ngFor="let item of items; let first = first">
            <app-product-row
                [product]="item"
                [first]="first"
            />
        </div>
    </ng-template>
    <ng-template #grid let-items>
        <div class="grid grid-cols-1 xs:grid-cols-2 lg:grid-cols-3 gap-4">
            <div *ngFor="let item of items" class="col-span-12 xs:col-span-1 sm:col-span-2 md:col-span-1 p-2">
                <app-product-card
                    [product]="item"
                />
            </div>
        </div>
    </ng-template>
</p-dataview>
