<select
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event);"
    [ngModelOptions]="{standalone: true}"
    class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 font-semibold"
>
    <option *ngIf="placeholder" [value]="''" disabled selected>{{ placeholder }}</option>
    <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
    </option>
</select>

@if (showErrorMessage()) {
    <p-message class="w-full" severity="error" variant="simple" size="small">{{ errorMessage }}</p-message>
}