<p-dataview
    #dv
    [value]="elements"
    [rows]="rows"
    [paginator]="elements && elements.length > 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    (onPage)="onPageChange($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    emptyMessage=" "
>
    <ng-template #header>
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
            <app-search-bar (textValue)="searchTextChange.emit($event)" />
            <!--
            <p-dropdown
                [options]="sortOptions"
                placeholder="Ordenar por terminación"
                (onChange)="onSortChange($event)"
            />
            -->
            <app-form-select-input [options]="sortByTerminationOptions" placeholder="Ordenar por terminación" (onChange)="onSortChange($event)" />
            <app-form-select-input />
        </div>
    </ng-template>
    <ng-template #list let-items>
        <div *ngFor="let item of items; let first = first">
            <app-element-row
                [element]="item"
                [first]="first"
            />
        </div>
    </ng-template>
</p-dataview>
