<p-password
    class="w-full"
    styleClass="w-full"
    inputStyleClass="w-full"
    [ngModelOptions]="{standalone: true}"
    [ngModel]="password()"
    (ngModelChange)="password.set($event)"
    promptLabel="Ingresa una contraseña"
    weakLabel="Débil"
    mediumLabel="Media"
    strongLabel="Fuerte"
    [mediumRegex]="mediumRegex"
    [strongRegex]="strongRegex"
    autocomplete="off"
    [placeholder]="placeholder"
    [toggleMask]="true"
>
    <ng-template #footer>
        <p-divider />
        <ul class="my-0 leading-normal">
            <li>Al menos 6 caracteres</li>
        </ul>
    </ng-template>
</p-password>
@if (showErrorMessage()) {
    <p-message class="w-full" severity="error" variant="simple" size="small">{{ errorMessage }}</p-message>
}