<div class="background-container relative h-screen bg-cover bg-center">
    <div class="overlay flex justify-center items-center absolute inset-0">
      <div class="text-center">
        <h1 class="text-5xl font-bold text-black">{{ title }}</h1>
        @if(description) {
          <p class="text-3xl my-2 text-gray-700">{{ description }}</p>
        }
        <div class="button-group">
          <button routerLink="/catalogo" class="btn dark-btn">Catálogo</button>
        </div>
      </div> 
    </div>
</div>