<p-toast></p-toast>
<app-profile-info></app-profile-info>

<div class="titulos" style="margin: 40px auto 10px; padding: 0px 25px; width: 1040px; display: flex; align-items: center; justify-content: flex-start;">
  Gestión de Rematadores
</div>
<app-table></app-table>

<div class="titulos" style="margin: 40px auto 10px; padding: 0px 25px; width: 1040px; display: flex; align-items: center; justify-content: flex-start;">
  Gestión de Subastas
</div>
<app-table-auction></app-table-auction>

<div class="titulos" style="margin: 40px auto 10px; padding: 0px 25px; width: 1040px; display: flex; align-items: center; justify-content: flex-start;">
  Gestión de Lotes
</div>
<app-table-lots></app-table-lots>

