<div class="">
    @if (products && products.length > 0) {
        <div class="py-8 grid grid-cols-1 sm:grid-cols-5 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div class="col-span-1 sm:col-span-2 md:col-span-1"> <!-- class="sm:pt-12" -->
                <app-category-tree (selection)="onCategorySelection($event)" />
            </div>
            <div class="col-span-1 sm:m-5 sm:col-span-3 md:col-span-2 lg:col-span-3">
                <app-products-catalog [products]="filteredProducts" (searchTextChange)="onSearchTextChange($event)" />
                @if (filteredProducts.length === 0) {
                    <app-message classes="p-2 m-5" icon="pi pi-info-circle" message="No hay publicaciones que coincidan con tu búsqueda" />
                }
            </div>
        </div>
    } @else {
        <app-message classes="p-2 m-10" icon="pi pi-info-circle" message="No hay productos disponibles" />
    }
</div>

