<div class="">
    @if (elements && elements.length > 0) {
        <div class="py-8">
            <div class="col-span-1 sm:m-5 sm:col-span-3 md:col-span-2 lg:col-span-3">
                <app-elements-catalog [elements]="elements" (searchTextChange)="onSearchTextChange($event)" />
                @if (elements.length === 0) {
                    <app-message classes="p-2 m-5" icon="pi pi-info-circle" message="No hay publicaciones que coincidan con tu búsqueda" />
                }
            </div>
        </div>
    } @else {
        <app-message classes="p-2 m-10" icon="pi pi-info-circle" [message]="No hay  disponibles" />
    }
</div>

