@if (elements && elements.length > 0) {
    <div class="py-8">
        <div class="col-span-1 sm:m-5 sm:col-span-3 md:col-span-2 lg:col-span-3">
            <p-toast />
            <p-dataview
                #dv
                [value]="elements"
                [rows]="rows"
                [paginator]="elements && elements.length > 0"
                [rowsPerPageOptions]="rowsPerPageOptions"
                (onPage)="onPageChange($event)"
                emptyMessage=" "
            >
                <ng-template #header>
                    <div class="w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-5 gap-4">
                        <app-search-bar #searchBar (textValue)="onSearchTextChange($event)" />
                        <div class="flex items-center sm:justify-center">
                            <app-form-checkbox #closedCheckbox label="Cerradas" (checkedChange)="onClosedCheck($event)" />
                        </div>
                        <app-form-select-input #categorySelect [options]="categories" placeholder="Categorías" (textValue)="onCategorySelection($event)" />
                        <app-form-select-input #locationSelect [options]="locations" placeholder="Ubicación" (textValue)="onLocationSelection($event)" />
                        <app-date-picker #datePicker class="col-span-1 xs:col-span-2 md:col-span-1" classes="w-full" label="Cierra antes de" (dateTimeChange)="onLimitCloseDateSelection($event)" />
                        <div class="col-span-1 xs:col-span-2 md:col-span-5 gap-4 grid grid-cols-2">
                            <app-primary-button label="Filtrar" classes="w-full" (onClick)="applyFilters()" />
                            <app-primary-button label="Restablecer" classes="w-full" (onClick)="resetFilters()" />
                            @if (dataType === 'auction') {
                                <app-primary-button label="Ver en Mapa" classes="w-full bg-green-600 hover:bg-green-700" (onClick)="goToMap()" />
                            }
                        </div>
                    </div>
                </ng-template>
                <ng-template #list let-items>
                    <div *ngFor="let item of items; let first = first">
                        <app-element-row
                            [element]="item"
                            [dataType]="dataType"
                            [first]="first"
                            [getCountdown]="getCountdown"
                            [getImage]="getImage"
                        />
                    </div>
                </ng-template>
            </p-dataview>
            @if (elements.length === 0) {
                <app-message classes="p-2 m-5" icon="pi pi-info-circle" message="No hay publicaciones que coincidan con tu búsqueda" />
            }
        </div>
    </div>
} @else {
    <app-message classes="p-2 m-10" icon="pi pi-info-circle" message="No hay elementos disponibles" />
}
