<app-title-with-background-image-and-buttons
  [title]="'Bienvenido a RematesGo'"
  [description]="'Tu plataforma de remates en línea'">
</app-title-with-background-image-and-buttons>

<app-title-and-description
  [title]="'Subastas próximas'"
  [description]="''">
</app-title-and-description>

@if (subastas.length > 0) {
  <app-dynamic-carousel
    [items]="subastas"
    [showLink]="true"
    [getLink]="getLink"
    [getTitle]="getTitle"
    [getCountdown]="getCountdown"
    [getImageUrl]="getImage"
    >
  </app-dynamic-carousel>
} @else {
  <div class="text-center mt-4 text-gray-600">
    No hay subastas publicadas en este momento.
  </div>
}