<p-carousel 
  [value]="items" 
  [numVisible]="itemsPerPage" 
  [numScroll]="scrollsPerScroll" 
  [circular]="true" 
  [responsiveOptions]="responsiveOptions">

  <ng-template let-item pTemplate="item">
    <div class="border-none rounded m-2 p-4 text-center break-all">      <div class="mb-3 relative mx-auto carousel-image-container">
        <img 
          [src]="getImageUrl ? getImageUrl(item) : 'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'" 
          alt="Imagen de la publicación" 
          class="carousel-image" />
      </div>
      <div class="font-medium text-lg">
        {{ getTitle(item) }}
      </div>

      @if(getCountdown) {
        <div class="text-red-600 font-bold mt-2">
          Cierra en: {{ getCountdown(item) }}
        </div>
      }

      @if(showPrice && getPrice) {
        <div>
            <span class="text-green-600 font-bold">{{ getPrice(item) }}</span>
        </div>
      }

      @if(showLink) {
        @if(usarModal) {
          <a (click)="onItemClick(item)" 
             class="block mt-2 text-blue-500 hover:underline cursor-pointer">
            Ver detalles
          </a>
        } @else {
          <a [routerLink]="getLink(item)" 
             class="block mt-2 text-blue-500 hover:underline">
            Ver detalles
          </a>
        }
      }
    </div>
  </ng-template>
</p-carousel>