<div class="absolute inset-x-0 bottom-0">
    <p-divider />
    <div class="w-full p-3 flex flex-wrap gap-10 sm:gap-50 mb-10">
        <div class="flex flex-col gap-6">
            <a routerLink="/"><img src="logo-alfa.jpg" alt="Logo Alfa" style="height: 35px;"/></a>
            <p class="text-gray-500 justify-center text-md">(+598) 099 999 999</p>
        </div>
        <div class="flex flex-col gap-3">
            <div class="pb-4 flex flex-col gap-2.5">
                <p class="font-semibold">Sobre nosotros</p>
            </div>
            <p>Historia</p>
            <a class="text-blue-500 hover:underline" href="https://maps.app.goo.gl/m1Utv9P7NEKN3kUz5" target="_blank">Ubicación</a>
        </div>
    </div>
</div>
