<div class="profile-container">
  <!-- Spinner de carga -->
  <div *ngIf="loading" class="loading-container">
    <p-progressSpinner strokeWidth="4" [style]="{'width': '50px', 'height': '50px'}"></p-progressSpinner>
  </div>
  
  <div *ngIf="!loading" class="profile-content">
    <div class="form-section">
      <div class="form-group">
        <label class="form-label">Nombre legal</label>
        <input type="text" pInputText [(ngModel)]="profile.nombreLegal" class="form-input" />
      </div>
      
      <div class="form-group">
        <label class="form-label">Identificación fiscal</label>
        <input type="text" pInputText [(ngModel)]="profile.identificacionFiscal" class="form-input" />
      </div>
      
      <div class="form-group">
        <label class="form-label">Domicilio</label>
        <input type="text" pInputText [(ngModel)]="profile.domicilio" class="form-input" />
      </div>
      
      <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" pInputText [(ngModel)]="profile.email" class="form-input" />
      </div>
      
      <div class="form-group">
        <label class="form-label">Teléfono</label>
        <input type="tel" pInputText [(ngModel)]="profile.telefono" class="form-input" />
      </div>

      <div class="button-container">
        <button (click)="updateProfile()" class="update-button">
          Actualizar datos
        </button>
      </div>
    </div>

  </div>
</div>

<p-toast></p-toast>