@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.bold-subtitle {
  min-width: 125px;
  height: 36px;
  color: #232323;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 26px;
  text-align: left;
  margin-bottom: 10px;
}